/* ----------------------------------------------------------------------------------------------------------------*/
/* FOR JQUERY Carousel used on homepage */
/* ----------------------------------------------------------------------------------------------------------------*/

.jcarousel-container {
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 21px;
    padding-right:21px;
}

.jcarousel-clip {
    height: 195px;
    width:916px;
}

.jcarousel-list {
    height: 195px;
    width:916px;
}

.jcarousel-list li {
    width: 151px;
    height: 195px;
    padding-right: 16px;
    padding-left:16px;
    border-right:1px solid #dfdfdf;
}
.jcarousel-list li.last {
    width: 151px;
    height: 195px;
    padding-right: 17px;
    padding-left:16px;
    border-right:0px solid #ffffff;
}
.jcarousel-item-placeholder {
    background: #fff url(jcarousel_loading.gif) 50% 50% no-repeat;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
    position: absolute;
    top: 84px;
    right: -1px;
    width: 21px;
    height: 72px;
    cursor: pointer;
    background: transparent url(../images/nextoff.jpg) no-repeat 0 0;
}

.jcarousel-next-horizontal:hover {
    background: transparent url(../images/next.jpg) no-repeat 0 0;
}

.jcarousel-next-horizontal:active {
     background: transparent url(../images/next.jpg) no-repeat 0 0;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(../images/nextoff.jpg) no-repeat 0 0;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 84px;
    left: -1px;
    width: 21px;
    height: 72px;
    cursor: pointer;
    background: transparent url(../images/prevoff.jpg) no-repeat 0 0;
}

.jcarousel-prev-horizontal:hover {
    background: transparent url(../images/prev.jpg) no-repeat 0 0;
}

.jcarousel-prev-horizontal:active {
    background: transparent url(../images/prev.jpg) no-repeat 0 0;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(../images/prevoff.jpg) no-repeat 0 0;
}