/*font start*/
@font-face {
    font-family: HelveticaNeueThin;
    src: url(fonts/HelveticaNeue/HelveticaNeue-Thin.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(fonts/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: robotolight;
    src: url(fonts/Roboto/roboto.light.ttf);
}
.openSans{
    font-family: 'Open Sans', sans-serif;
}
.LatoRegular{
    font-family: LatoRegular !important;
}
.LatoBold{
    font-family: LatoBold !important;
}
.HelveticaNeueThin{
    font-family: HelveticaNeueThin !important;
}
.robotolight{
    font-family: robotolight !important;
}
/*font end*/


/*width start*/

.width10{
    width:10%;
}
.width13{
    width:13%;
}
.width14{
    width:14%;
}
.width15{
    width:15%;
}
.width20{
    width:20%;
}
.width25{
    width:25%;
}
.width30{
    width:30%;
}
.width32{
    width:32%;
}
.width35{
    width:35%;
}
.width40{
    width:40%;
}
.width45{
    width:45%;
}
.width50{
    width:50%;
}
.width55{
    width:55%;
}
.width60{
    width:60%;
}
.width65{
    width:65%;
}
.width70{
    width:70%;
}
.width75{
    width:75%;
}
.width80{
    width:80%;
}
.width85{
    width:85%;
}
.width90{
    width:90%;
}
.width95{
    width:95%;
}
.width94{
    width:94%;
}
.width100{
    width:100%;
}
/*width end*/
.noPadding{
    padding:0 !important;
}
.noLeftRightPadding{
    padding-left:0 !important;
    padding-right:0 !important;
}
/*padding start*/

.paddingLeft10{
    padding-left:10px;
}
.paddingLeft20{
    padding-left:20px;
}
.paddingLeft30{
    padding-left:30px;
}
.paddingLeft40{
    padding-left:40px;
}
.paddingLeft45{
    padding-left:45px !important;
}
.paddingLeft50{
    padding-left:50px;
}
.paddingRight10{
    padding-right:10px;
}
.paddingRight20{
    padding-right:20px;
}
.paddingRight30{
    padding-right:30px;
}
.paddingRight40{
    padding-right:40px;
}
.paddingRight50{
    padding-right:50px;
}
.paddingTop10{
    padding-top:10px;
}
.paddingTop12{
    padding-top:12px;
}
.paddingTop20{
    padding-top:20px;
}
.paddingTop30{
    padding-top:30px;
}
.paddingTop40{
    padding-top:40px;
}
.paddingTop50{
    padding-top:50px;
}
.paddingTop55{
    padding-top:55px;
}
.paddingBottom4{
    padding-bottom: 4px;
}
.paddingBottom10{
    padding-bottom:10px;
}
.paddingBottom20{
    padding-bottom:20px;
}
.paddingBottom30{
    padding-bottom:30px;
}
.paddingBottom40{
    padding-bottom:40px;
}
.paddingBottom50{
    padding-bottom:50px;
}
.paddingBottom55{
    padding-bottom:55px;
}
.paddingTopBottom35{
    padding: 35px 0  !important;
}
.paddingTB6LR20{
    padding: 6px 20px  !important;
}
.paddingTB6LR45{
    padding: 6px 45px  !important;
}
.paddingLRTB8em{
    padding:8em 0 0 0;
}
.paddingTB10LR25{
    padding: 10px 25px !important;
}
.paddingTB35LR0{
    padding: 35px 0;
}
.paddingTB80LR0{
    padding: 80px 0;
}
.paddingTB55LR0{
    padding: 55px 0;
}

/*padding end*/

/*margin start*/
.marginLeft10{
    margin-left:10px;
}
.marginLeft12{
    margin-left: 12px;
}
.marginLeft11{
    margin-left: 11px;
}
.marginLeft20{
    margin-left:20px;
}
.marginLeft30{
    margin-left:30px;
}
.marginLeft40{
    margin-left:40px;
}
.marginLeft50{
    margin-left:50px;
}
.marginRight8em{
    margin-right:8em !important;
}
.marginRight10{
    margin-right:10px;
}
.marginRight20{
    margin-right:20px;
}
.marginRight30{
    margin-right:30px;
}
.marginRight40{
    margin-right:40px;
}
.marginRight50{
    margin-right:50px;
}
.marginTop5em{
    margin-top:5em;
}
.marginTop5{
    margin-top:5px;
}
.marginTop10{
    margin-top:10px;
}
.marginTop20{
    margin-top:20px;
}
.marginTop30{
    margin-top:30px;
}
.marginTop40{
    margin-top:40px;
}
.marginTop50{
    margin-top:50px;
}
.marginBottom10{
    margin-bottom:10px;
}
.marginBottom20{
    margin-bottom:20px !important;
}
.marginBottom30{
    margin-bottom:30px;
}
.marginBottom40{
    margin-bottom:40px;
}
.marginBottom50{
    margin-bottom:50px;
}
/*margin end*/

/*custom css start*/
.wordSpacing1{
    word-spacing: 1px;
}
.uppercase{
    text-transform: uppercase;
}
.menuboxShadow{
    box-shadow: 0px 2px 25px #ddd;
}
.capitalize{
    text-transform: capitalize;
}
.displayNone{
    display:none;
}
.font45{
    font-size:45px;
}
.font15{
    font-size:15px;
}
.font18{
    font-size:18px;
}
.font12{
    font-size:12px !important;
}
.font20{
    font-size:20px;
}
.lineHeight1{
    line-height:1;
}
.menufontColor{
    color:#8c8c8c;
}
.bgColorBlue{
    background-color:#199df2;
}
.colorWhite{
    color:white;
}
.colorBlack{
    color:black;
}
.colorDarkGray{
    color:#3a3a3a;
}
.colorLightGray{
    color:#999999;
}
.borderRadius20{
    border-radius: 20px !important;
}
.bgColorDarkgray{
    background:#2d2d2e;
}
.top8{
    top: 8px;
}
.top2{
    top: 2px;
}
.borderBottom1{
    border-bottom:2px solid;
}
/*custom css end*/
.menuDiv {
    min-height: 0 !important;
    margin-bottom: 0 !important;
}
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.menuDiv .navbar-nav > li > a {
    padding: 9px 7px !important;
    line-height: 1 !important;
}
.menuDiv .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white !important;
    /*border-bottom:2px solid #199df2;*/
}
.menuDiv .nav > li > a:hover, .nav > li > a:focus {
    color: #8c8c8c;
    text-decoration: none;
}
.menuDiv .active{
    border-bottom:2px solid #199df2;
}
.btn:hover, .btn:focus, .btn.focus {
    color: white !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #333 !important;
}
.cyberSecuritySection{
    background-image: url("../images/inner_page.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /*height: 72%;*/
    background-size: cover;
}
.borderBottomBlue{
    border-bottom: 2px solid #199df2;
}
.bgWhite{
    background:white;
}
#thirdSection{
    background-image: url("../images/third_section_bgImage.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /*height: 72%;*/
    background-size: cover;
}
.holisticMainHeading:before{
    content: "";
    position: absolute;
    width: 9%;
    left: 2%;
    top: 34%;
    border-bottom: 2px solid #199df2;
}
/*.bottomFooterBorder:before{
    content: "";
    position: absolute;
    width: 15%;
    left: 40%;
    top: 2em;
    border-bottom: 2px solid #c8c8c8;
}
.bottomFooterBorderFollow:before{
    content: "";
    position: absolute;
    width: 17%;
    left: 44%;
    top: 2em;
    border-bottom: 2px solid #c8c8c8;
}*/
.footerbgBoottomBgColor{
    background:#3d4445;
}
.colorfooter{
    color:#c8c8c8;
}
.marginTop22{
    margin-top: 22px !important;
}
.paddingLR10LR40{
    padding: 10px 40px !important; 
}
.borderTop1{
    border-top: 1px solid; 
}
.footer a:hover, .footer a:focus {
    color: #c8c8c8;
    text-decoration: none;
}
.trainingHero{
    background: url(../images/inner_page.png);
    background-repeat: no-repeat;
    height: 5.5em;
    width: 100%;
    background-size: 100% 100%;
    background-position: top center;
    font-size: 3em;
    color: white;
    text-transform: uppercase !important;
}
.trainingHeroimg{
    /*height: 60%;*/
    width: 42%;
    padding-top: 22px;
    /*float: right;*/
}
.paddingLeftRight18px{
    padding: 0 18px;
}
.paddingLeftRight15px{
    padding: 0 15px;
}
.textDecorationNone{
    text-decoration: none !important;
}
#feaurtedDiv a{
    color:#3a3a3a;
}
.font16{
    font-size: 16px;
}
.font25{
    font-size: 25px;
}
.font30{
    font-size: 30px;
}
.fontBold{
    font-weight: bold;
}
.colorBlue{
    color: #199df2;
}
.panel-default > .panel-heading {
    position: relative;
}
.panel-heading .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}
.pagesWithCollapse .panel-default {
    background: #efefef !important;
}
.pagesWithCollapse .panel-heading {
    background: #ddd !important;
}
.pagesWithCollapse .panel-group .panel {
    border-radius: 0 !important;
}
#mainWrapper {
    margin-top: 5em;
    min-height: 300px;
    padding-bottom: 11.6em !important;
}
.marginLeft2em{
    margin-left:2em !important;
}
@media only screen and (max-width: 1280px) {
    .laptopfont16{
        font-size:16px;
    }
    .trainingHeroimg {
        width: 46%;
        padding-top: 22px;
    }
}
@media only screen and (max-width: 750px) {
    .xsfont40{
        font-size:40px;
    }
    .xspositionRelative{
        position:relative;
    }
    .trainingHeroimg {
        width: 46% !important;
        padding-top: 40px !important;
    }
    .xstop1em{
        top:1em;
    }
    .xsdisplayBlock{
        display:block;
    }
    .xsDisplayNone{
        display:none;
    }
    .xsright0{
        right:0 !important;
    }
    .xswidth95{
        width:95% !important;
    }
    .xsmarginLeft0{
        margin-left:0 !important
    }
    /*    #mainWrapper {
            margin-top: 6em;
        }*/
    .xspaddingLR10LR15 {
        padding: 10px 15px !important;
    }
    .xsfloatNone{
        float:none !important;
    }
    .calenderUl > li > a {
        padding: 5px 14px !important;
    }
    .xsfont16{
        font-size:16px;
    }
    .xspaddingTop35{
        padding-top: 35px;
    }
    .marginTB10LR0{
        margin:10px 0 !important;
    }
    .marginTB10LR8{
        margin: 10px -8px;
    }
    /*    .trainingHero{
            font-size: 2em;
        }*/
    .xstextCener{
        text-align:center;
    }
    .xsmarginLeft4{
        margin-left:4px;
    }
    .xspaddingLeftRight15{
        padding:0 15px !important;
    }
    .xsmarginTop10{
        margin-top:10px;
    }
    .xswidth100{
        width:100%;
    }
    .xspaddingTB10TR0{
        padding: 10px 0;
    }
    .xsnoPadding{
        padding:0 !important;
    }
    .xspaddingTop0{
        padding-top:10px;
    }
    .xspositionRelative{
        position:relative !important;
    }
    .xspaddingLR15TB0{
        padding:0 15px !important;
    }
    .xspaddingLRT0B22 {
        padding: 0 0 22px 0px !important;
    }
    .xspaddingLR25TB0{
        padding: 0 25px !important;
    }
    .paddingLR0TB30{
        padding: 30px 0;
    }
    .paddingLR12TB6{
        padding: 6px 12px !important;
    }
    .xswidth31{
        width:31%;
    }
    .holisticMainHeading:before {
        width: 19%;
        left: 0%;
        top: 9%;
    }
    /*    .bottomFooterBorder:before {
            left: 40%;
        }
        .bottomFooterBorderFollow:before {
            left: 42%;
        }*/
}
@media only screen and (max-width: 350px) {
    .xs320font13{
        font-size:13px;
    }
    .trainingHeroimg {
        width: 60% !important;
        padding-top: 40px !important;
    }
    .xs320font37 {
        font-size: 37px;
    }
    .xs320width28{
        width:28%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .ipadfont10{
        font-size:10px !important;
    }
    .trainingHeroimg {
        width: 83% !important;
    }
    .ipadfont14{
        font-size:14px !important;
    }
    .ipadfont9{
        font-size:9px;
    }
    .ipadfont6{
        font-size:6px !important;
    }
    .ipadfont35{
        font-size:35px;
    }
    .ipadpaddingLR2emTB1em {
        padding: 1.5em 0 2em 0
    }
    /*    .cyberSecuritySection {
            height: 11.3em; 
        }*/
    .ipadpaddingTB70LR0 {
        padding: 70px 0;
    }
    .ipadwidth70{
        width:70%;
    }
    .ipadmarginLeft5{
        margin-left:5px;
    }
    .ipadpaddingTop40{
        padding-top:40px;
    }
}
.dashboardBlock {
    background: #f0f9fe;
    padding: 20px;
}
.dashboardBlock img{
    margin: 0 auto;
}
.dashboardBlock a{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
}
.dashboardDetail{
    background: #e3ebf1;
    height: 31.8em;
}
.marginLeft0{
    margin-left: 0 !important;
}
.marginBottom0{
    margin-bottom: 0 !important;
}
.accordianHeading h4{
    font-size:20px;
}
.textLeft{
    text-align:left !important;
}
.paddingLeft0{
    padding-left:0 !important;
}
.paddingBottom97{
    padding-bottom:97px;
}
.calenderUl{
    background:#555 !important;
}
.calenderUl > li > a{
    padding: 5px 32px !important;
    border-left: 1px solid white;
    border-radius: 0 !important;
    border-right:0 !important;
    border-top:0 !important;
    border-bottom:0 !important;
    background:#555 !important;
    color:white !important;
}
.calenderUl li > a:hover, .calenderUl li > a:focus {
    text-decoration: none;
    background-color: #199df2 !important;
    color:white !important;
}
.height5em{
    height: 5em;
}
.height0em{
    height: 0 !important;
}
.width14Point2{
    width: 14.2%;
}
/*#calender tr{
    height: 5em;
}*/
#calender tr td{
    width: 14.2%;
}
#calender tr{
    height: 9em;
}
.margin0{
    margin:0 !important;
}
.borderLeft0{
    border-left:0  !important;
}
.bgColorLightGray {
    background-color: rgba(158, 158, 158, 0.2);
}
.positionAbsolute{
    position: absolute;
}
.right3em{
    right: -3em; 
}
.top6px{
    top: 6px; 
}
.width33{
    width:33%;
}
.width49{
    width:49%;
}
.width24{
    width:24% !important;
}
.menuButton{
    float:left !important;
}
.contentBodyColor{
    color:#1e1e1e !important;
}
.font14{
    font-size: 14px !important;
}
.fontWeightNormal{
    font-weight: normal !important;
}