body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

a {
  color: black;
   background-color: inherit;
}

a:hover {
  color: gray;
  background-color: inherit;
}

h1 {
  text-align: center;
  color: black;
  background-color: inherit;
}

h2 {
  text-align: center;
  color: black;
  background-color: inherit;
}

input[type="submit"] {
  background-color: silver;
  color: black;
  border: 1px solid black;
}

.phpc-navbar a {
  background-color: silver;
  color: black;
  border: 1px solid black;
}

input[type="submit"]:hover {
  background-color: black;
  color: silver;
}

.phpc-navbar a:hover {
  background-color: black;
  color: silver;
}

.phpc-navbar {
  margin: .5em 0 1em 0;
  text-align: center;
}

.phpc-navbar a {
  text-decoration: none;
  margin: 0;
  padding: 2px;
}

table.phpc-main {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  color: black;
  background-color: #CCC;
}

div.phpc-main {
  padding: 0;
}

.phpc-main h2 {
  text-align: left;
  margin: 0;
  background-color: white;
  padding: 2px .5em; 
}

.phpc-main div {
  padding-left: .5em;
}

.phpc-main .phpc-event {
  border: 2px solid black;
  color: black;
  background-color: #CCC;
  margin: 0;
  padding: 0;
}

.phpc-desc {
  border-top: 2px solid black;
  padding: .5em;
  margin: 0;
  text-align: justify;
}

caption {
  font-size: 175%;
  color: black;
  background-color: white;
  padding: 2px;
  font-weight: bolder;
  margin: 1px;
}

thead th {
  background-color: silver;
  color: black;
}

thead {
  border: 1px solid black;
}

thead, tfoot {
  text-align: center;
}

#calendar td, #calendar th {
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  padding: .5em;
}

table.phpc-main tbody th {
  text-align: right;
}

#calendar {
  table-layout: fixed;
}

#calendar td {
  text-align: left;
  height: 80px;
}

td.past {
  background-color: #AAA;
  color: inherit;
}

td.future {
  background-color: #CCC;
  color: inherit;
}

td.today {
  background-color: white;
  color: inherit;
}

td.none {
  background-color: gray;
  color: inherit;
}

table.phpc-main ul {
  margin: 2px;
  padding: 0;
  list-style-type: none;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}

table.phpc-main li {
  font-size: 80%;
  font-weight: normal;
  padding: 0;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 1px 0 1px 0;
  background-color: #CCC;
}

table.phpc-main li a {
  display: block;
  text-decoration: none;
  padding: 2px;
}

table.phpc-main li a:hover {
  background-color: gray;
  color: white;
}

.phpc-list {
  border: 1px solid black;
}

.phpc-footer {
  text-align: center;
}

.phpc-button {
  text-align: center;
}

.phpc-add {
  float: right;
  text-align: right;
}

/* \*/ /*/
  #calendar {table-layout: auto;}
/* */

