BODY
{
	font-family: ARIAL;
	font-size: 12pt;
	color: #000000;
	background: #ffffff;
}


H3
{
	font-size: 12pt;
	color: Navy;
}


.topheader
{
	font-size: 25pt;
	color: #993300;
	font-weight: bold;
}


.header
{
	font-size: 15pt;
	color: #630031;
	font-weight: bold;
}


.title
{
	font-size: 14pt;
	color: #993300;
	font-weight: bold;
}


.hispired
{
	color: #993300;
	font-weight: normal;
}


.headline
{
	font-size: 11pt;
	color: #993300;
	font-weight: bold;
}

.detailtext{
	font-size:11px;
	color:Black;
}

.header-redtext{
	background-image:url(images/greybox_back.gif);
	padding:5px 2px 5px 15px;
	font-size: 15px;
	color:#8C0F08;
	font-weight:bold;
	}


.subtitle
{
	font-size: 11pt;
	color: #000000;
	font-weight: bold;
}


.bottomcopyright
{
	font-family: arial;
	font-size: 10pt;
	color: #990000;
}


.menu A:link {
	color: #ffffff;
	font-weight: bold;
}


.menu A:visited {
	color: #ffffff;
	font-weight: bold;
}


.menu A:hover {
	color: #FFFF66;
	font-weight: bold;
}


.bottomcopyright A:link {
	color: #990000;
	font-weight: bold;
}


.bottomcopyright A:visited
{
	color: #990000;
	font-weight: bold;
}


A
{
	text-decoration: none;
}


A:link
{
	color: #993300;
	font-weight: bold;
}


A:hover
{
	color: #BB3300;
	text-decoration: underline;
	font-weight: bold;
}


A:visited
{
	color: #993300;
	font-weight: bold;
}


HR
{
	color: #9C0000;
	height: 1px;
	size: 1px;
}


TD
{
	font-family: arial;
	font-size: 10pt;
	color: #000000;
}


